body{
    font-family: monospace;
    margin: 50px 50px 100px 50px;
}

p{
    max-width: 420px;
    text-align: justify;
}

.disclosure{
    max-width: 90%;
    margin-top: 50px;
}

.recipe-description{
    margin-left: 10px;
}

h3.recipe-titles{
    color:rgb(86, 86, 86);
}

.menu{
    font-size: 16px;
}

.index{
    text-align: left;
}

h1{
    margin-bottom: 40px;
}

h2, .last-item{
    margin-bottom: 30px;
}

h2{
    margin-top: 60px;
}

/* h2, h3, li, ul, ol{
    text-align: left;
    width: 90%;
} */

li{
    margin-bottom: 10px;
    width: 90%;
}

img{
    height: 450px;
    width: auto;
}
